<!DOCTYPE html>
<html lang="en">
<head>
  <title></title>
  <!-- build:css(tmp) styles/application.css -->
  <link rel="stylesheet" href="/styles/application.css">
  <!-- endbuild -->
</head>
<body>
<div id="content">
  <%= yield %>
</div>
  <!-- build:js(tmp) js/application.js -->
  <link rel="stylesheet" href="/js/application.js">
  <!-- endbuild -->
</body>
</html>
